@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

@import "modules";



html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Gotham Pro;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn {
  cursor: pointer;
  background: none;
  border: 0;
}

.content {
  flex: 1 0 auto;
}

.container {
  @include rwd(1440) {
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
    padding: rem(0 10px);
  }
}
