// Font
$mainFont                : 'Geometria', sans-serif;

// Main color
$default-color           : #48494a;

$screen-xs-min: 320px;

$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


//bootstrap grid-gutter-width reset
$grid-gutter-width: 20px !default;

