// fonts
$mainFont                : 'Geometria', sans-serif;

// colors
$default-color           : #48494a;
$successColor            : #82b74b;
$errorColor              : #c83349;
$warningColor            : #ff7b25;
$infoColor               : #6b5b95;

// colors array
$btnColors : (
    success: $successColor,
    error : $errorColor,
    warning: $warningColor,
    info : $infoColor
);

// screen sizes

$screen-xs-min           : 320px;
$screen-sm-min           : 576px;
$screen-md-min           : 768px;
$screen-lg-min           : 992px;
$screen-xl-min           : 1200px;

//bootstrap grid-gutter-width reset

$grid-gutter-width       : 20px !default;




